

.card-container {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
  }
  
  .review-card {
    width: 18rem;
    margin: 1rem;
    transition: transform 0.3s ease-in-out;
  }
  
  .review-card:hover {
    transform: scale(1.1);
    box-shadow: 4px 4px 10px;
  }
  
  .user-reviews-header{
    justify-content: center;
    display: flex;
    position: relative;
    font-size: 35px;
    font-weight:600;
    color: #5999ff;
    background: #3b3b3b;
    padding: -50px;
    height: 60px;
  }